#menu {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-around;
  margin-top: 5vh;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 5vh;
}

#menu > span {
  font-size: calc((1.5vh + 1.5vw) / 2);
}

#menu > span {
  padding-top: calc((1.5vh + 1.5vw) / 2);
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-label {
  font-size: calc((1.5vh + 1.5vw) / 2);
}

.range {
  height: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.slider {
  width: 20vw;
}

.toggle-switch {
  width: 5vh;
}

.invisible-text {
  color: paleturquoise;
}

@media screen and (max-width: 550px) {
  #menu {
    width: 100vw;
  }
}

@media screen and (max-height: 400px) {
  .range {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .toggle-switch {
    width: 10vh;
  }
}
